@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1533638978312-8a4eaa2fbeaf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGlicm9zJTIwYXp1bGVzfGVufDB8fDB8fHww&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    transition: background-size 0.3s ease-in-out; 
}

.nav {
    width: 300px;
}

.nav__link {
    color: #000000;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside {
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover {
    background: #499bec;
}

.list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
}

.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow {
    transform: rotate(90deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list__show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #000000;
    list-style: none;
    transition: height .4s;
    height: 0;
}
.rectangle {
    width: 200px;
    height: 150px;
    background-color: white;
    display: none;
    position: absolute;
    top: 50px;
    left: 200px;
    border: 1px solid black;
    z-index: 1;
}
.visible {
    display: block;
}
.list__inside a, .list__inside button {
    background: none;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-align: left;
    outline: none; 
    transition: background 0.3s ease; 
    padding: 2px 20px; 
    border: 1px solid white;
    border-radius: 10px; 
    transition: background 0.3s ease;
}

.list__inside a:hover, .list__inside button:hover {
    background: #499bec; 
}


button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1a751e;
}


.completed {
    color: #28a745 !important;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 80px;
    border-radius: 16px; 
    overflow: hidden;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}



#tabla-libros tbody td {
    font-size: 13px;
}
.rectangulo-registrarlibros {
    width: 851px;
    height: 550px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 62.2%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 9999;
    border-radius: 16px 16px 16px 16px;
}
.rectangulo-librosalmacenados {
    width: 851px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 62.2%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 9999;
    border-radius: 16px;
    padding: 20px;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.rectangulo-bajalibros {
    width: 851px;
    height: 350px;
    background-color: white;
    position: absolute;
    top: 32%;
    left: 62.2%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 9999;
    padding: 10px;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

#tabla-libros tbody td {
    font-size: 12px; 
}


.search-container {
    position: absolute;
    top: calc(20% + 210px + 40px); 
    left: 26.1%; 
    padding: 6px 20px; 
    display: flex;
    align-items: center; 
    width: 55%; 
}

#searchInput {
    padding: 8px;
    font-size: 13px;
    margin-right: 10px;
    font-family: Poppins;
    width: 55%; 
    border-radius: 6px;
}

#searchButton {
    padding: 9px 20px;
    font-size: 13px;
    cursor: pointer;
    font-family: Poppins;
}

#tabla-libros {
    min-width: 1800px; 
}
.fila-seleccionada {
    background-color: #83828289;
}
.estado-container {
    margin-top: -250px;
}

#estado {
    height: 200px; 
    width: 31.9%; 
    max-width: 100%;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #000000;
    border-radius: 10px;
    resize: vertical; 
    margin-top: 2.5%;
    margin-left: 765px; 
    margin-right: 10px;
    font-family: Poppins;
}


.registrar-button-container {
    margin-top: 20px; 
    margin-left: -186px; 
}

.fecha-entrega-container {
    margin-top: -180px; 
    margin-left: -186px; 
}

.green-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins;
}

.green-button:hover {
    background-color: #218838;
}

#fechaEntrega {
    width: 25%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 13px;
    font-family: Poppins;
}

label[for="fechaEntrega"] {
    text-align: left;
    color: white;
    font-size: 15px;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 65%;
    padding: 6px;
    margin: 5px auto;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 13px;
}

#documentoMessage {
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    color: #dc3545;
    display: none; 
}

#telefono {
    margin-top: 0; 
}

input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1a751e;
}

.completed {
    color: #28a745 !important;
}

/* Estilo para las checklists */
.checklist {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.invalid {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px; 
    overflow: hidden;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}


.tabla-container {
    max-height: 600px;
    max-width: 600px;
    overflow-y: auto;
    overflow-x: scroll; 
    border-radius: 10px
}
#tabla-libros tbody td {
    font-size: 13px;
}

.search-container {
    position: absolute;
    top: calc(45% + 225px + 40px); 
    left: 20%;
    display: flex;
    align-items: left;
    width: 70%
}

#searchInput {
    padding: 8px;
    font-size: 15px;
    margin-right: 10px;
    font-family: Poppins;
}

#searchButton {
    padding: 9px 20px;
    font-size: 15px;
    cursor: pointer;
    font-family: Poppins;
}

#tabla-libros {
    min-width: 1500px; 
}
* Estilo para las checklists */
.checklist {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.invalid {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}
.formulario {
    max-width: 700px;
    margin: 0 auto;
}

.columna-izquierda,
.columna-derecha {
    float: left;
    width: 50%;
    margin-bottom: 15px; 
    text-align: left;
}

.columna-izquierda label,
.columna-derecha label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
#Fecha {
    width: 80%;
    padding: 5px;
    margin: 5px auto;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 13px;
    font-family: Poppins; 
    
}
.otro-dato-textarea {
    height: 150px; 
    width: 95%; 
    padding: 10px; 
    margin: 5px auto;
    border: 1px solid #000000; 
    border-radius: 10px; 
    font-size: 13px; 
    line-height: 1.5; 
    resize: vertical;
    overflow-y: auto; 
    box-sizing: border-box; 
    font-family: Poppins;
}

.search-containerlib {
    position: absolute;
    top: calc(20% + 210px + 40px); 
    left: 10.8%; 
    padding: 6px 20px; 
    display: flex;
    align-items: center; 
    width: 55%; 
}

#searchInputlib {
    padding: 8px;
    font-size: 13px;
    margin-right: 10px;
    font-family: Poppins;
    width: 55%; 
    border-radius: 6px;
}

#searchButtonlib {
    padding: 9px 20px;
    font-size: 13px;
    cursor: pointer;
    font-family: Poppins;
}